<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <h1>BlogTest</h1>
    <!--<form action = "blog.html" method = "post">-->
        <ol type = "l">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ol>
            <p> 제목 : <input type = "text" name = "title"></p>
            <p> 내용 : <input type = "text" name = "content"></p>
        <h2>{{a}}</h2>
        </form>
</body>
</html>