<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<script>
$(document).ready(function(){
    $("button").remove(".test, .demo");
});
</script>
<body>
    <h1>BlogTest</h1>

    <!--<h2>{{key}}</h2>-->
    <!--<h2>{{hello}}</h2>-->
    <!--<h2>{{test}}</h2>-->



    {% for o in rows %}

        <a href="/blog/blog_read_view/{{o.0}}">{{o.0}} / {{o.1}} / {{o.2}} / {{o.3}} / {{o.4}}</a>
        <button type="button" class="btn btn-primary">삭제</button><br>

    {% endfor %}

    <!--<form action = "blog.html" method = "post">-->

            <!--<p> 제목 : <input type = "text" name = "title"></p>-->
            <!--<p> 내용 : <input type = "text" name = "content"></p>-->
        <!--<h2>{{o}}</h2>-->
        <!--</form>-->
</body>
</html>