<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        Django Blog Test
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
$( document ).ready(function() {
    console.log( "ready!" );
});

function btn_delete1(no){
    console.log(no);

    $.ajax({
            type: "GET",
            url: "/exer/delete1",
            async: false,
            data: {
                no: no,
            },

            success: function (data) {
                if(data.return == 'success'){
                    var no = data.no;
                    //alert(no);
                    no = '#' + no;
                    $(no).remove();
                }
            },
        });

}

function btn_submit1(){
    var input1 = $('#input1').val();
    var input2 = $('#input2').val();
    var input3 = $('#input3').val();
    var input4 = $('#input4').val();

    $.ajax({
            type: "GET",
            url: "/exer/save1",
            async: false,
            data: {
                input1: input1,
                input2: input2,
                input3: input3,
                input4: input4
            },
            success: function (data) {
                if(data.return == 'success'){
                    //alert(data.title);

                    var html = ''+
                        '<div id="frame" style="border: 1px solid black; padding: 20px;">'+
                        '    <div id="user">'+
                        '        운영자'+
                        '    </div>'+
                        '    <div id="comment" style="border: 0px solid black;">'+
                                data.title +
                                data.content +
                                data.name+
                        '    </div>'+
                        '    <button onclick="btn_delete('+ data.no +')" type="button" class="btn btn-outline-danger">삭제</button>'+
                        '</div>';

                    $('#main').append(html);
                }
            },
        });


}
</script>

<style>
#input{
    width: 100%;
    float: left;
}
#comment{
    border: 1px solid darkgreen;

}
.frame{
    border: 2px solid bisque;
    padding: 5px;
}
#line1{
    margin-top:50px;
}
</style>
<!-- -------------------------------------------------->
</head>

<body>

<div id="main">
    {% for row in rows %}
    <div class="frame" id="{{row.1}}">
        <div id="user">
            <h4>{{row.1}}&nbsp {{row.2}}</h4>
        </div>
        <div id="comment">
           {{row.1}} &nbsp {{row.0}} &nbsp {{row.2}} &nbsp &nbsp &nbsp &nbsp {{row.3}}
        </div>
        <button onclick="btn_delete1({{row.1}})" type="button" class="btn btn-outline-danger">삭제</button>

        <a href="/exer/exer_read/{{row.1}}"><button type="button" class="btn btn-secondary">확인</button></a>


    </div>

    {% endfor %}
</div>

<div id="line1">

    <p style="color:rebeccapurple; font-size:40px;"> 추가 사항</p>
    <!--<input type="text" class="form-control" id="input" placeholder="">-->
    <!--<button onclick="btn_submit()" type="submit" class="btn btn-primary">작성</button>-->
    <div class="input-group mb-3">

        <input type="text" id="input1" class="form-control" placeholder="title" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        </div>

        <input type="text" id="input2" class="form-control" placeholder="content" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        </div>

        <input type="text" id="input3" class="form-control" placeholder="name" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        </div>

        <input type="text" id="input4" class="form-control" placeholder="pw" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button onclick = "btn_submit1()" class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>

</div>

</body>
</html>